//以下内容是为了中文段落的首行缩进显示
//.post-body p {
//  text-indent: 2em;
//};

//.site-meta {
//  background: #00b7c3;
//}

//.site-brand-container {
//  background: #00b7c3;
//}
//
//
//:root {
//  --link-hover-color: #00b7c3;
//  --btn-default-hover-bg: #00b7c3;
//  --btn-default-hover-border-color: #00b7c3;
//}
